<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ronde om Noord Holland</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <style>
    </style>
</head>
<body>
<div id="root">Landings Pagina voor los testen van REST calls... Groeten Ed Cafferata</div>
<script>
</script>
</body>
</html>
